/* 반응형웹 */
@media screen and (min-width:1330px){
    .m_nav_open {display: none;}
}
@media screen and (max-width:1650px){
    main .visual video {
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width:1500px){
    .make .make_btm {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .make .make_btm .make_car {
        margin-top: 100px;
    }
}
@media screen and (max-width:1330px){
    header nav .m_nav {
        display: block;
    }
    header nav .gnb {
        display: none;
    }
    footer {
        display: flex; flex-flow: column nowrap;
    }
    footer .left {margin-bottom: 50px;}
}
@media screen and (max-width:1100px){
    footer {
        text-align: center;
        display: flex; flex-flow: column nowrap;
        align-items: center;
    }
    footer .left {display: flex; flex-flow: column nowrap; align-items: center;}
    footer .left h1 {width: 150px; transform: translateX(50%); margin-bottom: 50px;}
    .deg .deg_360 a .bg {height: 700px;}
}
@media screen and (max-width:1000px){
    header .header_r #search_frm {
        display: none;
    }
    main .visual .btm {
        display: flex; flex-flow: column nowrap;
        align-items: flex-start;
    }
    main .visual .btm .txt {
        margin-bottom: 20px;
    }
    main .contents .list {
        display: flex; flex-flow: column nowrap;
    }
    main .contents .list a {margin-bottom: 20px;}
    main .contents .list a::after {display: none;}
    main #map, main .infor {
        width: 800px;
    }
}
@media screen and (max-width:900px){
    .make .make_car {
    }
    .make .make_car img {
        width:500px;
    }
}
@media screen and (max-width:800px){
    main #map {
        width: 400px;
        height: 300px;
    }
    main .infor {
        width: 400px;
    }

}
@media screen and (max-width:750px){
    footer .left .footer_menu ul {
        display: flex; flex-flow: column nowrap;
    }
    footer .left .footer_menu ul li {margin-bottom: 10px;}
    footer .left .footer_menu ul li::after {display: none;}
    .deg .deg_360 a .bg {height: 500px;}
    .deg .deg_360 a .icon {width: 100px;}
}